{% extends 'perfil/criar.html' %}

{% block titulo %}Atualizar perfil de {{ user }} | {% endblock %}

{% block titulo_cadastro %}
<h4>Atualizar cadastro</h4>
<p>
    Atualize aqui os seus dados de usuário
</p>
{% endblock %}