{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titulo %}Login e Cadastro | {% endblock %}

{% block conteudo %}

<div class="row">

    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>
            Se você ja fez o cadastro, basta entrar com seu usuário e senha
        </p>

        <form method="POST" action="{% url 'perfil:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputUsuario1">Usuário</label>
                <input type="text" name="username" class="form-control" id="InputUsuário1"
                    aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Senha</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
        </form>

    </div>
    {% endif %}

    <div class="col-lg mt-3">
        {% block titulo_cadastro %}
        <h4>Cadastro</h4>
        <p>
            Se você ainda não tem cadastro, cadastre-se abaixo
        </p>
        {% endblock %}

        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock  %}