<!doctype html>
<html lang="pt-br">

<head>

    {% include 'parciais/_head.html' %}
    <title>{% block titulo %}{% endblock %}E-commerce</title>
</head>

<body>

    {% include 'parciais/_nav.html' %}

    <main class="container mt-4 mb-4" style="min-height: 100vh">
        {% include 'parciais/_messages.html' %}
        {% block conteudo %}{% endblock  %}
    </main>

    {% include 'parciais/_footer.html' %}

</body>

</html>