{% extends 'base.html' %}

{% load produtofilters %}

{% block titulo %}{{ produto.nome }} | {% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        {% if produto.imagem %}
                        <img class="img-fluid" src="{{ produto.imagem.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mt-4 mt-lg-0">
                    <h1 class="h2">{{ produto.nome }}</h1>
                    <p class="lead">{{ produto.descricao_curta }}</p>
                    <p class="lead">

                        {% if produto.preco_marketing_promocional %}

                        <span id="variation-preco-promocional" class="lead product-price">
                            {{ produto.preco_marketing_promocional|formata_preco }}
                        </span>
                        <span id="variation-preco" class="lead product-old-price text-muted">
                            {{ produto.preco_marketing|formata_preco }}</span>

                        {% else %}
                        <span id="variation-preco" class="lead product-price">
                            {{ produto.preco_marketing|formata_preco }}</span>
                        {% endif %}
                    </p>

                    <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                        <div class="form-group">
                            <select id="select-variacoes" name="vid" class="form-control form-control-lg">

                                {% for variacao in produto.variacao_set.all %}

                                {% if variacao.preco_promocional %}
                                <option data-preco="{{ variacao.preco|formata_preco }}"
                                    data-preco-promocional="{{ variacao.preco_promocional|formata_preco }}"
                                    value="{{ variacao.id }}">
                                    {% if variacao.nome %}
                                    {{ variacao.nome }}
                                    {% else %}
                                    {{ variacao }}
                                    {% endif %}
                                </option>

                                {% else %}
                                <option data-preco="{{ variacao.preco|formata_preco }}" value="{{ variacao.id }}">
                                    {% if variacao.nome %}
                                    {{ variacao.nome }}
                                    {% else %}
                                    {{ variacao }}
                                    {% endif %}
                                </option>
                                {% endif %}
                                {% endfor %}

                            </select>
                        </div>

                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Adicionar ao carrinho
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    <h2 class="text-center">{{ produto.nome }}</h2>
                    {{ produto.descricao_longa|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}