{% extends 'base.html' %}

{% load produtofilters %}

{% block titulo %}Produtos | {% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-lg-12">
        <div class="card-columns">

            {% for produto in produtos %}

            <div class="card">

                {% if produto.imagem %}
                <a href="{% url 'produto:detalhe' produto.slug %}">
                    <img class="card-img-top" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                </a>
                {% endif %}

                <div class="card-body">
                    <a href="{{ produto.slug }}">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                    </a>
                    <p class="card-text">{{ produto.descricao_curta }}</p>
                    <div class="container product-price-block text-center">

                        {% if produto.preco_marketing_promocional%}
                        <span class="product-price">
                            {{ produto.preco_marketing_promocional|formata_preco }}
                        </span>
                        <span class="product-old-price text-muted">
                            {{ produto.preco_marketing|formata_preco }}
                        </span>
                        {% else %}
                        <span class="product-price">
                            {{ produto.preco_marketing|formata_preco }}
                        </span>
                        {% endif %}

                    </div>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{% url 'produto:detalhe' produto.slug %}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>


{% endblock %}